.box input{
    width: 450px;
    height: 40px;
    border-radius: 5px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
}
.box h1{
    text-align: center;
    align-items: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.signbox{
    margin-top: 50px;
    width: 550px;
    height: 100%;
    border: 2px solid black;
}


/*  */


button {
    margin-left: auto;
    margin-right: auto;
    display: flex;
    margin-top: 5px;
    bottom: 15px;
    padding: 0.8em 1.8em;
    border: 2px solid #17C3B2;
    position: relative;
    overflow: hidden;
    background-color: transparent;
    text-align: center;
    text-transform: uppercase;
    font-size: 16px;
    transition: .3s;
    z-index: 1;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #17C3B2;
    
   }
   
   button::before {
    content: '';
    width: 0;
    height: 300%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(45deg);
    background: #17C3B2;
    transition: .5s ease;
    display: block;
    z-index: -1;
   }
   
   button:hover::before {
    width: 105%;
    font-family:  'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
   }
   
   button:hover {
    color: white;
   }
   